<script src="/lib/flatpickr.js"></script>
<script src="/lib/flatpickr.ru.js"></script>
<script src="/lib/vue.min.js"></script>
<script src="/lib/axios.js"></script>
<script src="/lib/moment.min.js"></script>
