.presContainer#presContainer
    .presBody
        .presItemWr.presItemBlank(v-if="presFiles.length==0")
            .presItem
                div Now any files is not loaded.
                div Please, use button on the bottom.
        .presItemWr(v-for="item in presFiles")
            .presItem(v-bind:style="{backgroundImage:'/api/v1/presImg/'+item.id}")
                .presType {{formatType(item.type)}}

    .presFooter
        .button(v-on:click="addImage()")
            .buttonTextAdd Image, Video or PDF
