.presContainer#presContainer
    .presBody
        .presScroll
            .presItemWr.presItemBlank(v-if="presFiles.length==0")
                .presItem
                    div Now any files is not loaded.
                    div Please, use button on the bottom.
            .presItemWr(v-for="item in presFiles")
                .presItem(:style="'background-image: url(/api/v1/presImg/'+item.id+')'")
                    .presType {{formatType(item.type)}}
                    .presDelete(v-on:click="deletePres(item)")
                        .inlineImage
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M6 8c0-1.1.9-2 2-2h2l1-1h2l1 1h2c1.1 0 2 .9 2 2H6zm1 1h10l-1 11H8z" style="fill: red;"/>
                            </svg>

    .presFooter
        .button(v-on:click="addImage()")
            .buttonTextAdd Choose Image, Video or PDF
