extends ../layout
block head
block content
    style.
        video{
            width:320px;
        }

    #app
        .needScaleWr
            .needScale
                .needScaleText Поверните устройство горизонтально
                .needScaleImage
                    img(src="/images/rotate.png" style="width:60px; margin-top:40px")

        .checkEvent(v-if="eventStatus==-1" )
            div пожалуйста, подождите
        div.hidden(v-if="eventStatus==0" v-bind:class={block:true} )
            div Событие не активно, обратитесь к организаторам
        div.hidden(v-if="eventStatus==1" v-bind:class={block:true})
            .loginWr(v-if="!isLogin")
                .loginBox
                    .loginRow
                     h4 NewsFactory Mixer
                    .loginRow
                        input(placeholder="You name" v-model="name" )
                    .loginRow
                        input( placeholder="You position" v-model="position" )
                    .loginRow
                        input.button(v-if="name && name.length>1" type="submit" value="Log in" v-on:click="login()")
                    .loginRow(v-if="name && name.length>1")

                        .help разрешите доступ к камере и микрофону
                        .videoWr
                            video#testVideo(width="1280" height="720" playsinline)
                    .loginRow(v-if="name && name.length>1")
                        .help выбор камеры:
                        DIV
                            select#videoselect
                                option(value="-1" selected) Default
                        div
                            select#audioselect
                                option(value="-1" selected) Default




            .spkWr(v-else)
                #test
                .spkLocal(style="margin-bottom:24px")
                    #localVideo
                    .spkName {{name}}
                .spkRemote
                    #remoteVideo
                        .spkName PGM

    script.
        var eventid=!{JSON.stringify(eventid)}
        var faceid=!{JSON.stringify(faceid)}
    include ../elems/includeScripts
    script(src="/lib/flashUtils.js")
    <script type="text/javascript" src="/lib/flashphoner.js"></script>
    script(src="/javascripts/speakerScript.js")
