extends ../layout

block content
    style.



    .loginWr
        form.loginBox(method="POST")
            .loginRow  NewsFactory Mixer
            .loginRow
                input(placeholder="phone number" name="phone" value=phone)
            .loginRow
                input(type="password" placeholder="password" name="pass")
            .loginRow
                input.button(type="submit" value="Log in")
