extends ../layout
block head
block content


    #app
        .loginWr(v-if="!isLogin")
            .loginBox
                .loginRow  NewsFactory Mixer
                .loginRow
                    input(placeholder="You name" v-model="name" )
                .loginRow
                    input( placeholder="You position" v-model="position" )
                .loginRow
                    input.button(v-if="name && name.length>1" type="submit" value="Log in" v-on:click="login()")
        .spkWr(v-else)
            #myVideo
            #mixerVideo
    script.
        var eventid=!{JSON.stringify(eventid)}
        var faceid=!{JSON.stringify(faceid)}
    include ../elems/includeScripts
    script(src="/lib/flashUtils.js")
    <script type="text/javascript" src="/lib/flashphoner.js"></script>
    script(src="/javascripts/speakerScript.js")
