extends ../layout
block head
block content


    #app
        .loginWr
            .loginBox
                .loginRow  NewsFactory Mixer
                .loginRow
                    input(placeholder="You name" )
                .loginRow
                    input( placeholder="You position" )
                .loginRow
                    input.button(type="submit" value="Log in")
    include ../elems/includeScripts
    script(src="/javascripts/speakerScript.js")
